<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <i class="bi bi-shop"></i>
      Loja Virtual
    </a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar produto..."
        aria-label="Filtro"
      />
        
      <div class="dropdown">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          id="dropdownCarrinho"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-cart"></i>
          <span class="badge rounded-pill bg-success">{{ quantidade }}</span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
          aria-labelledby="dropdownCarrinho"
        >
          <li class="dropdown-item" *ngIf="quantidade === 0">Carrinho vazio.</li>
          <li class="dropdown-item" *ngFor="let item of itens">
            {{ item.quantidade }}x - {{ item.produto.preco | currency:"BRL" }} - 
            {{ item.produto.nome.substr(0, 20) }}
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
