<br>
<div class="mask d-flex h-100">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 ">
        <div class="card mask-custom">
          <div class="card-body p-4 text-black">
            <div class="my-4">
                <table class="table table-hover">
                    <tbody>
                      <tr class="table-light">
                        <td colspan="3" class="titulo">Carrinho de compras</td>
                      </tr>
                      <tr >
                          <td colspan="3" *ngIf="itens.length === 0">
                            Carrinho Vazio.
                          </td>
                      </tr>
                      <tr *ngFor="let item of itens">
                        <td class="td-img">
                          <img
                            src="assets/produtos/{{ item.produto.fotos[0] }}"
                            class="card-img-top img-thumbnail"
                            [alt]="item.produto.nome"
                          />
                        </td>
                        <td class="td-col"
                        [routerLink]="['/produto/' + item.produto.id]">
                            {{ item.produto.nome }}
                        </td>
                        <td class="td-col td-preco">
                            {{ item.produto.preco | currency: "BRL" }}
                            &nbsp;
                            <button
                            type="button"
                            class="btn btn-sm btn-success"
                            (click)="adicionarCarrinho(item.produto)"
                            *ngIf="itens.length > 0"
                            >
                            <i class="bi bi-plus-lg"></i>
                            </button>
                            &nbsp;
                            <b>{{ item.quantidade }}x</b>
                            &nbsp;
                            <button
                            type="button"
                            class="btn btn-sm btn-danger"
                            (click)="removerCarrinho(item.produto.id)"
                            *ngIf="itens.length > 0"
                            >
                            <i class="bi bi-dash-lg"></i>
                          </button>
                        </td>
          
                      </tr>
                      <tr>
                        <td colspan="3" class="total" *ngIf="itens.length > 0">
                          {{ total | currency: "BRL" }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col text-center">
                      <button
                        type="button"
                        class="btn btn-lg btn-success"
                        [routerLink]="['/checkout']"
                        *ngIf="itens.length > 0"
                      >
                        <i class="bi bi-cart-check"></i> Finalizar compra
                      </button>
                        &nbsp;
                      <button
                        type="button"
                        class="btn btn-lg btn-danger"
                        [routerLink]="['']"
                        *ngIf="itens.length > 0 || itens.length === 0"
                      >
                        Continuar comprando
                      </button>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>